body{
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #9078;
    color: #fff;
}

button:hover {
    background-color: #0045;
}